body, div, table, span
{
	background-color: rgb(70, 70, 70);	
	border: 0;
	padding: 0;
	border: 0;
	color: rgb(135, 206, 255);
}

#menuTabla
{
	width : 100%;
	border: 1px solid black;
}

.kepTarolo
{
	width: 19.92%;
	padding-bottom: 9%;
	display: inline-block;
	background-size: 100% 100%;
}

#homadarKep
{
	background-image: url("kepek/homadar.jpg");	
}

#szarnyalasAFoldonKep
{
	background-image: url("kepek/szarnyalasAFoldon.jpg");	
}

#szeretetEsVedelemKep
{
	background-image: url("kepek/szeretetEsVedelem.jpg");	
}

#teazasKep
{
	background-image: url("kepek/teazas.jpg");	
}

#tocsaLanyKep
{
	background-image: url("kepek/tocsaLany.jpg");	
}

#velenceKep
{
	background-image: url("kepek/velence.jpg");	
}

#vorosEgKep
{
	background-image: url("kepek/vorosEg.jpg");	
}

.alsoElem
{
	padding-left: 90%;	
}

.menuGomb
{
	border: none;
	color: black;
	padding: 0;
	text-decoration: none;
	background: none;
}

.menuGomb:hover
{
	text-decoration: underline;
}

#kihuzas
{
	width : 100%;
}

#patreonLink
{
	font-size: 20px;
	padding-left: 50%;
	text-decoration: underline;
}