html, body
{
	background-color: rgb(70, 70, 70);	
	height: 100px;
}

div
{
	background-color: rgb(70, 70, 70);	
	border: 0px;
	padding: 10px;
	border: 0;
	color: rgb(135, 206, 255);
	font-size: 120%;
}

#menuTabla
{
	width: 100%;
}

td
{
	border: 2px solid black;
}

.kepTarolo
{
	width: 19.92%;
	padding-bottom: 9%;
	display: inline-block;
	background-size: 100% 100%;
}

.folsoElem
{
	font-size: 150%;
	padding-left: 1.2%;
}

#kepBekezdes
{
	padding-top: 2%;
}

#keresesKep
{	
	background-image: url("kepek/nagyitoKicsi.png");
	background-repeat: no-repeat;
	padding-right: 20px;
}

#homadarKep
{
	background-image: url("kepek/homadar.jpg");	
}

#szarnyalasAFoldonKep
{
	background-image: url("kepek/szarnyalasAFoldon.jpg");	
}

#szeretetEsVedelemKep
{
	background-image: url("kepek/szeretetEsVedelem.jpg");	
}

#teazasKep
{
	background-image: url("kepek/teazas.jpg");	
}

#tocsaLanyKep
{
	background-image: url("kepek/tocsaLany.jpg");	
}

#velenceKep
{
	background-image: url("kepek/velence.jpg");	
}

#vorosEgKep
{
	background-image: url("kepek/vorosEg.jpg");	
}

.alsoElem
{	
	float: right;
}

.menuGomb
{
	border: none;
	color: black;
	padding: 0;
	text-decoration: none;
	background: none;
}

.menuGomb:hover
{
	text-decoration: underline;
}

#kihuzas
{
	float: right;
}

#patreonLink
{
	font-size: 180%;
	padding-left: 50%;
	text-decoration: underline;
}